<html>
	<head>
		<title> Busca Disponibilidade </title>
		{% include "bootstrap.html" %}
	</head>

	<body>
		<div class="container">
			{% if hoteis %}
				<div class="row">
					<h2> {{ mensagem_busca }} ({{ hoteis|length }} opções)</h2>
				</div>
				{% for hotel in hoteis %}
					<div class="row">
						<div class="col-md-offset-3">
						<form action='{% url "detalhes-disponibilidade" %}' name="disponibilidade-{{hotel.id}}" role="form" method="post">
							<div class="col-md-4">
								{{hotel.nome}}, {{hotel.cidade.nome}}
							</div>
							<div class="col-md-4">
								<button class="btn btn-warning" data-hotel-id="{{hotel.id}}" data-entrada="{{chegada}}" data-saida="{{saida}}"> Ver Detalhe </button>
							</div>
						</form>
						</div>
					</div>
					<hr/>
				{% endfor %}
			{% else %}
				<div class="row">
					<div class="col-md-offset-1">
						<h2> {{ mensagem_busca }}
						<h4> Desculpe, mas já reservamos todas as ofertas nesse período, por favor refaça sua busca com outras datas. </h4>
					</div>
				</div>
			{% endif %}
		</div>
	</body>
</html>
